.design-detail {
  background-color: rgba($black, 0.9);

  .with-performance-bar & {
    top: 35px;
  }

  h2 {
    font-size: 14px;
  }
}

.design-list-item {
  .card-body {
    height: 230px;
  }
}
